@import '../../variables.scss';

$background: rgba(#fff, 0.8);

.navbar {
  display: flex;
  background: #fff;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  &.mobile .brand {
    margin: 0 2rem 0 1rem;
  }

  .brand {
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    color: #000;
    font-size: 2rem;
    margin: 0 2rem 0 0;


  }

  .navigation {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }

  .buttons {
    .button:first-of-type {
      margin-right: 1rem;
    }
  }

  .drawer-btn {
    position: absolute;
    left: 16px;
    top: 16px;
  }

  .user-btn {
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
